body{
    background: url('https://images.unsplash.com/photo-1605296867304-46d5465a13f1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80') repeat center center fixed; 
    width: 100%;
}

h1 {
    margin: 3%;
    margin-top: 150px;
    color: orange;
    font-weight: 800;
    font-size: 40px;
}

button{
    background-color: rgb(255, 172, 39);
}

button:hover{
    background-color: yellow;
}

#help, #home{
    text-decoration: none;
    color:rgb(255, 172, 39);
}

.navbar.navbar-nav.ms-auto li a {
    color: rgb(255, 172, 39);
} 

#nav-header{
    color: rgb(255, 172, 39);

}

#footer-wording{
    margin-top: 15%;
    color:rgb(255, 172, 39);
    font-weight: 500;
}